
@{
    ViewBag.Title = "MyAccount";
}

<body style="background-color:aliceblue;">
    <h2 align="center"><b>My Account</b></h2>


    <div style="padding-left:6em;">
        @Html.ActionLink("Edit Account", "Edit")
    </div>

</body>

