@{
    ViewBag.Title = "About";
}
<body style="background-color:aliceblue;">
    <div class="container" align="center">
        <h2 align="center"><b>About us</b></h2>

        <div id="info" align="center" style="margin-top:15px;">

            <div style="font-weight:bold; background-color:lavenderblush; padding:1em; font-size:18px; font-family:'Segoe UI';">
                <p> Welcome to KL Hotels! We are a luxery, all inclusive hotel headquarted in Norman, Oklahoma.</p>
                <p> We are family owned since 1979 and cannot wait for you to experience our lovely hotel services!</p>
            </div>

            <div style=" background-color:azure; padding:1em;">
                <p style="font-size:20px;"><b>Locations:</b></p>
                <p><b>1231 Hotel Ave. Norman, Oklahoma 73069</b></p>
            </div>

            <div style=" background-color:azure; padding:1em;">
                <p style="font-size:20px;"><b>Contact Info:</b></p>
                <p><b>Phone Number:</b> (978)-652-3333 </p>
                <p><b>Email Address: </b>KL@Hotels.com</p>
            </div>

        </div>
    </div>
</body>
