<body style="background-color:aliceblue;">
    <div class="container">
        <div class="col" style="max-width:1100px">
            <div class="row" style="max-width:100%">
                <h1 align="center" style="font-size:100px;"> Welcome to KL Hotel</h1>
                <div style="padding-left:6em;">
                    <h2 align="center">@Html.ActionLink("Log in to get started and book a room!", "LogIn", "Customer")</h2align="center">
                </div>
            </div>
        <div class="row" align="center">
            <img src="https://lh5.googleusercontent.com/z54JpYBHVVOhD7dDR1NX-xuthJCZUdFJFTASiM2N86k0mE0tHtYNUd5JalMYoGdFzQnCdQtxfyiq9HfI3n3FhOez3xFmpIk70W2OJJh47oHBRsKGbdle6uTv7vfNhu-iT-9gFNSH" style="width:900px; height:auto;" />
        </div>
    </div>
    </div>
</body>