<body style="background-color:aliceblue;">
    <h1 align="center" style="font-size:150px;"> Welcome to KL Hotel</h1>
    <div align="center">
        <img src="https://lh5.googleusercontent.com/z54JpYBHVVOhD7dDR1NX-xuthJCZUdFJFTASiM2N86k0mE0tHtYNUd5JalMYoGdFzQnCdQtxfyiq9HfI3n3FhOez3xFmpIk70W2OJJh47oHBRsKGbdle6uTv7vfNhu-iT-9gFNSH" style="width:700px; height:auto;" />
    </div>
</body>